<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Item">
      <th mat-authService-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a
          [routerLink]="['../../printing-edition', ':id'+ element.printingEditionId]">  {{element.printingEditionName}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Count">
      <th mat-authService-cell *matHeaderCellDef>Count</th>
      <td mat-cell
          *matCellDef="let element">
        <a (click)="CountDecrement(element.printingEditionId)">-</a>
        {{element.printingEditionCount}}
        <a (click)="CountIncrement(element.printingEditionId)">+</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Price">
      <th mat-authService-cell *matHeaderCellDef> Price</th>
      <td mat-cell
          *matCellDef="let element"> {{element.printingEditionPrice + ' ' +
      this.cartService.PriceSwitcher(element.printingEditionCurrency)}} </td>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <th mat-authService-cell *matHeaderCellDef>Amount</th>
      <td mat-cell
          *matCellDef="let element"> {{this.cartService.AmountCalc(element.printingEditionPrice, element.printingEditionCount) + ' ' +
      this.cartService.PriceSwitcher(element.printingEditionCurrency)}} </td>
    </ng-container>

    <ng-container matColumnDef="Controls">
      <th mat-authService-cell *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element"><a
        [routerLink]="['../../printing-edition', ':id'+ element.printingEditionId]">Open</a>
        <br> <a (click)="DeleteItem(element.printingEditionId)">Delete</a></td>
    </ng-container>

    <tr mat-authService-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="TotalPrice">
    <strong class="TotalPrice">Total: {{this.ClientPrice.toFixed(2)}}
      <mat-select (selectionChange)="ClientCurrency(CurrencySelector)" class="currencySelector"
                  [(value)]="CurrencySelector">
        <mat-option value="1">USD</mat-option>
        <mat-option value="2">EUR</mat-option>
        <mat-option value="3">UAH</mat-option>
      </mat-select>
    </strong>
    <div>
      <mat-button-toggle class="btn-success" (click)="Order()">Order</mat-button-toggle>
    </div>
  </div>
</div>


