<h2>{{printingEdition.name}}</h2>
<p *ngFor="let author of printingEdition.authorName ">{{author}}</p>
<img [src]="printingEdition.image" *ngIf="printingEdition.image"/>
<h5>Price: {{printingEdition.price + printingEditionService.PriceSwitcher(printingEdition.currency)}}</h5>
<strong>description:</strong>
<p>{{printingEdition.description}}</p>
<button class="btn btn-success" (click)="AddCart()" [disabled]="printingEdition.status === 2">Add to Cart</button>
<button class="btn btn-danger" *ngIf="header.isAdmin" (click)="EditPage()">Edit</button>
