<form class="card" [formGroup]="form" (ngSubmit)="SingUp()" *ngIf="formVisible">
  <h2>Регистрация</h2>
  <div class="form-control" [ngClass]="{invalid:form.get('email').touched && form.get('email').invalid}">
    <label for="email">email:</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Enter email field</small>
      <small *ngIf="form.get('email').errors.email">Email field must be email</small>
    </div>
  </div>
  <div class="form-control" [ngClass]="{invalid:form.get('password').touched && form.get('password').invalid}">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Enter password</small>
      <small *ngIf="form.get('password').errors.minlength">Password must not be
                 less {{form.get('password').errors.minlength.requiredLength}}
        characters. Now he {{form.get('password').errors.minlength.actualLength}} character</small>
    </div>
  </div>
  <div class="form-control">
    <label for="firstName">Firstname:</label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div class="form-control">
    <label for="secondName">LastName:</label>
    <input id="secondName" type="text" formControlName="secondName">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Registration</button>

</form>

<div class="RegistrationResult" *ngIf="successReg && !formVisible">
  <h1>You have successfully registered.</h1>
  <h1>Please check your email!</h1>
</div>

<div class="RegistrationResult" *ngIf="registrationError">
  <h1>This user already exists!</h1>

</div>
