
<nav class="navbar bg-primary">
  <a class="Home" (click)="router.navigate([''])">HOME</a>
  <h1></h1>
  <ul>
    <li routerLinkActive="active">
      <a *ngIf="Auth && isAdmin" [routerLink]="['/printingEdition', 'create']">Add <sup></sup></a>
    </li>
    <li routerLinkActive="active">
      <a *ngIf="Auth && isAdmin" [routerLink]="['/author', 'author-dashboard']">Authors <sup></sup></a>
    </li>
    <li routerLinkActive="active">
      <a *ngIf="!Auth" [routerLink]="['/auth', 'SingIn']">LogIn <sup></sup></a>
    </li>
    <li *ngIf="!Auth" routerLinkActive="active">
      <a [routerLink]="['/auth', 'SingUp']">Registration <sup></sup></a>
    </li>
    <li>
      <a *ngIf="Auth" [routerLink]="['/cart', 'cartBoard']">Cart <sup>{{CartCount}}</sup></a>
    <li>
      <a href="#" *ngIf="Auth" (click)="logout()">LogOut <sup></sup></a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
