<nav class="navbar bg-primary">
  <h1></h1>
  <ul>
    <li><a class="Home" (click)="router.navigate([''])">HOME<sup></sup></a></li>
    <li routerLinkActive="active">
      <a *ngIf="isAuth && isAdmin" [routerLink]="['/printing-edition', 'create']">Add<sup></sup></a>
    </li>
    <li routerLinkActive="active">
      <a *ngIf="isAuth && isAdmin" [routerLink]="['/author', 'author-dashboard']">Authors<sup></sup></a>
    </li>
    <li routerLinkActive="active">
      <a *ngIf="isAuth && isAdmin" [routerLink]="['/user', 'dashboard']">Users<sup></sup></a>
    </li>
    <li routerLinkActive="active">
      <a *ngIf="!isAuth" [routerLink]="['/auth', 'SingIn']">LogIn<sup></sup></a>
    </li>
    <li *ngIf="!isAuth" routerLinkActive="active">
      <a [routerLink]="['/auth', 'SingUp']">Registration<sup></sup></a>
    </li>
    <li>
      <a *ngIf="isAuth && cartCount > 0" [routerLink]="['/cart', 'cartBoard']">Cart<sup>{{cartCount}}</sup></a>
    <li>
      <a href="#" *ngIf="isAuth" (click)="logout()">LogOut<sup></sup></a>
    </li>
  </ul>
</nav>

