.price {
  width: 280px;
}

.AddAuthorForm {
  margin: 0 auto;
  width: 90%;
}

.AddAuthor {
  width: 100%;
}

.status,
.type {
  width: 23%;
}

.currencySelector {
  width: 100px;
}

.btn {
  margin: 2px;
}

.authorSelecter {
  background-color: lightgrey;
}

.mat-select {
  font-size: 0.9rem;
}

img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
