<form class="card" [formGroup]="form" (ngSubmit)="submit()" *ngIf="!success">
  <div class="form-control" [ngClass]="{invalid:form.get('email').touched && form.get('email').invalid}">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Enter email</small>
      <small *ngIf="form.get('email').errors.email">Email  should be email</small>
    </div>
  </div>
  <div class="form-control" [ngClass]="{invalid:form.get('password').touched && form.get('password').invalid}">
    <label for="password">New password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Enter the password</small>
      <small *ngIf="form.get('password').errors.minlength">Password mast be {{form.get('password').errors.minlength.requiredLength}}
        charts. But now {{form.get('password').errors.minlength.actualLength}} charts</small>
    </div>
  </div>

    <div class="form-control" [ngClass]="{invalid:form.get('ConfirmPassword').touched && form.get('ConfirmPassword').invalid}">
      <label for="ConfirmPassword">ConfirmPassword:</label>
      <input id="ConfirmPassword" type="password" formControlName="ConfirmPassword" (focus)="passwordsMatch = true">
      <div class="validation" *ngIf="form.get('ConfirmPassword').touched && form.get('ConfirmPassword').invalid">
        <small *ngIf="form.get('ConfirmPassword').errors.required">Enter the password</small>
        <small *ngIf="form.get('ConfirmPassword').errors.minlength">Password mast be {{form.get('ConfirmPassword').errors.minlength.requiredLength}}
          charts. But now {{form.get('ConfirmPassword').errors.minlength.actualLength}} charts</small>

      </div>
    </div>
  <strong class="alert-danger" *ngIf="!passwordsMatch"> Passwords do not match</strong>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid"  (click)="submit()">Reset password</button>
</form>

<div class="Result" *ngIf="success">
  <strong>{{message}}</strong>
</div>
