<form class="card" [formGroup]="form" (ngSubmit)="ForgotPassword()" *ngIf="!success">
  <div class="form-control" [ngClass]="{invalid:form.get('email').touched && form.get('email').invalid}">
    <label for="email">email:</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Enter email</small>
      <small *ngIf="form.get('email').errors.email">email should be email</small>
    </div>
  </div>
  <div class="form-control" [ngClass]="{invalid:form.get('password').touched && form.get('password').invalid}">
    <label for="password">New password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Enter the password</small>
      <small *ngIf="form.get('password').errors.minlength">password mast
        be {{form.get('password').errors.minlength.requiredLength}}
        charts. But now {{form.get('password').errors.minlength.actualLength}} charts</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid:form.get('confirmPassword').touched && form.get('confirmPassword').invalid}">
    <label for="ConfirmPassword">confirmPassword:</label>
    <input id="ConfirmPassword" type="password" formControlName="confirmPassword" (focus)="passwordsMatch = true">
    <div class="validation" *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid">
      <small *ngIf="form.get('confirmPassword').errors.required">Enter the password</small>
      <small *ngIf="form.get('confirmPassword').errors.minlength">password mast
        be {{form.get('confirmPassword').errors.minlength.requiredLength}}
        charts. But now {{form.get('confirmPassword').errors.minlength.actualLength}} charts</small>

    </div>
  </div>
  <strong class="alert-danger" *ngIf="!passwordsMatch"> Passwords do not match</strong>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="ForgotPassword()">Reset password
  </button>
</form>

<div class="Result" *ngIf="success">
  <strong>{{message}}</strong>
</div>
